name: test-ubuntu
      
on: 
# push/pullrequest時にci実行
    push:
      branches: [master]
    pull_request:
        paths-ignore:
          - '.gitignore'
          - 'LICENSE'
          - '**.md'

# 環境変数
env:
  BRANCH_NAME : "master"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10'] # [3.5, 3.6, 3.7, 3.8]

    steps:
      - name: checkout repository
        uses: actions/checkout@v3
        with:
          path: target_dir
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          python -m pip install --upgrade pip
          pip install flake8 pytest
          sudo apt-get install -y python3-pip
          pip3 install --upgrade pip
          sudo apt-get install -y git
          sudo apt-get install -y jq

      - name: tetris_sample
        working-directory: target_dir
      # tetrisが動くかどうか確認(SCOREが入ればOK)
        run: |
          # QT display off
          export QT_QPA_PLATFORM=offscreen
          # run tetris
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python start.py -m sample -t 3 -f $HOME/result.json
          # check result
          jq . $HOME/result.json
          SCORE=`jq ."judge_info"."score" $HOME/result.json`
          echo "SCORE: $SCORE"
          if [ $SCORE -lt 0 ]; then echo "error";exit 1; fi

      - name: tetris_DQN_sample
        working-directory: target_dir
        run: |
          # QT display off
          export QT_QPA_PLATFORM=offscreen
          # run tetris
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements.pytorch.txt ]; then pip install -r requirements.pytorch.txt; fi
          python start.py -m predict_sample -l 2 -t 5 --predict_weight weight/DQN/sample_weight.pt -f $HOME/result_dqn.json
          # check result
          jq . $HOME/result_dqn.json
          SCORE=`jq ."judge_info"."score" $HOME/result_dqn.json`
          echo "SCORE: $SCORE"
          if [ $SCORE -lt 0 ]; then echo "error";exit 1; fi

      - name: tetris_MLP_sample
        working-directory: target_dir
        run: |
          # QT display off
          export QT_QPA_PLATFORM=offscreen
          # run tetris
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements.pytorch.txt ]; then pip install -r requirements.pytorch.txt; fi
          python start.py -m predict_sample2 -l 2 -t 5 --predict_weight weight/MLP/sample_weight.pt -f $HOME/result_mlp.json
          # check result
          jq . $HOME/result_mlp.json
          SCORE=`jq ."judge_info"."score" $HOME/result_mlp.json`
          echo "SCORE: $SCORE"
          if [ $SCORE -lt 0 ]; then echo "error";exit 1; fi


